body {
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

a {
  color: blue;
}

hr {

  border-style: dotted none none none;
  border-width: 5px;
  border-color: #EAF6F6;
  width: 3%;
  margin: 100 auto;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
  padding-bottom: 50px;
}

.middle-container {

}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 380px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  list-style: 2;
}

.education {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.swim {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.description {
  color: #40514E
}

.get-in-touch {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #EAF6F6;
}

.footer-link {
  text-decoration: none;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2bafb8);
  background-image: -moz-linear-gradient(top, #3498db, #2bafb8);
  background-image: -ms-linear-gradient(top, #3498db, #2bafb8);
  background-image: -o-linear-gradient(top, #3498db, #2bafb8);
  background-image: linear-gradient(to bottom, #3498db, #2bafb8);
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 27px;
  font-family: Georgia;
  color: #080808;
  font-size: 28px;
  padding: 11px 20px 11px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #b534d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #b534d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #b534d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #b534d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #b534d9);
}
